img{
    width: 800px;
    height: 500px;
    position: relative;
    /* object-fit: contain; */
}

.abs_box{
position: absolute;
bottom: 2px;
color: white;
background: #00000047;
width: -webkit-fill-available;
padding: 5px;
}

.pos_relative{
    position: relative;
}

.abs_box p{
    font-size:30px;
    font-weight: bold;
}

a{
    cursor: pointer;
    font-size: 13px;
    text-decoration:underline;
    color:rgba(39, 39, 216, 0.623) !important;
}
a:hover{
    cursor: pointer;
    color: orangered !important;
}