.flex{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* flex-wrap: wrap; */
}

.news_card{
    box-shadow: 0px 0px 6px #808080ad;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s linear;
}

.news_card h5{
    font-size: 15px;
    font-weight: bold;
}

.news_card:hover{
    transform: scale(1.02);
    opacity: .5;
}

.tagline{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}