.marg_btm_5{
    margin-bottom: 5px;
}

.marg_btm_10{
   margin-bottom: 10px;
}

.flex_center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pad10{
    padding: 10px;
}

.cursor{
    cursor: pointer;
}

.marg_right_10{
margin-right: 10px;
}